@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;700&display=swap');

:root {
    --primary-color: #0f1923;
    --secondary-color: #1a242d;
    --terciary-color: #202342;

    --white-primary: #FFFFFF;
    --grey-primary: #939498;

    --yellow-primary: #f0d82a;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    font-family: 'Rubik', sans-serif;
}

.container{
    
}

.container-full {
    width: 100%;
}

.container-lg {
    width: 80%;
}

.container-md {
    width: 50%;
}

.flex {
    display: flex;
}

.justfy-center {
    justify-content: center;
}

.justfy-between {
    justify-content: space-between;
}

.align-center {
    align-items: center;
}

.justfy-right {
    justify-content: right;
}

.flex-row {
    flex-direction: row;
}

.header{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bar-sup {
    padding: 10px;
    background-color: var(--secondary-color);
}

.text-logo {
    color: var(--grey-primary);
    font-size: 1.5rem;
}

.text-logo span {
    color: var(--yellow-primary);
    font-weight: 600;
}

.nav {
    display: flex;
    gap: 20px;
}

.nav a{
    text-decoration: none;
}

.nav-item {
    list-style: none;
    color: var(--grey-primary);
}

.nav-item:hover {
    color: var(--yellow-primary);
    transition: 500ms;
}

.header-full {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--white-primary);
}

.left-header {
    grid-row: 1/1;
}

.left-header .text-logo{
    font-size: 4rem;
}

.simple-text-header {
    font-size: 1.5rem;
}

.simple-text-header,
.simple-description-header {
    color: var(--grey-primary);
}

.social{
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

.social-icons {
    font-size: 1.5rem;
    color: var(--white-primary);
}

.right-header {
    width: 300px;
    min-width: 300px;
    height: 300px;
    background-image: url("/res/img/me_two.jpg");
    background-size: cover;
    background-position: 0px;
    background-position-y: -50px;
    border-radius: 50%;
    box-shadow: 0px 5px 5px var(--primary-color);
    margin-left: 20px;
}